[user]
	email = 38833034+Hussein-Mourad@users.noreply.github.com
	name = Hussein-Mourad
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	autocrlf = input
	pager = delta
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	; features = side-by-side line-numbers decorations
[merge]
	conflictStyle = diff3
[diff]
	colorMoved = default
