# Rules
# Open applications on specific workspaces
# assign [class="Thunderbird"] $ws1
# assign [class="Pale moon"] $ws2
# assign [class="Pcmanfm"] $ws3
# assign [class="Skype"] $ws5

# Zen browser
assign [class="zen-alpha"] $ws1
for_window [title="mtmux"] move to workspace $ws2
for_window [class="Virt-viewer"] move to workspace $ws6
for_window [class="TelegramDesktop"] move to workspace $ws7
# assign [class="TelegramDesktop"] $ws7

# assign [class="KeePassXC"] $ws8
# for_window [class="Zathura"] move to workspace $ws3

# Open specific applications in floating mode
for_window [title="alsamixer"] floating enable border pixel $border_size
for_window [class="calamares"] floating enable border normal
for_window [class="Clipgrab"] floating enable
for_window [title="File Transfer*"] floating enable
for_window [class="fpakman"] floating enable
for_window [class="Galculator"] floating enable border pixel $border_size
for_window [class="GParted"] floating enable border normal
for_window [title="i3_help"] floating enable sticky enable border normal
for_window [class="Lightdm-settings"] floating enable
for_window [class="Lxappearance"] floating enable sticky enable border normal
for_window [class="Manjaro-hello"] floating enable
for_window [class="Manjaro Settings Manager"] floating enable border normal
for_window [title="MuseScore: Play Panel"] floating enable
for_window [class="Nitrogen"] floating enable sticky enable border normal
for_window [class="Oblogout"] fullscreen enable
for_window [class="octopi"] floating enable
for_window [title="About Pale Moon"] floating enable
for_window [class="Pamac-manager"] floating enable
for_window [class="pavucontrol"] floating enable 
for_window [class="pavucontrol"] sticky enable
# for_window [title=""] resize set 1300 800
# for_window [title="ranger-fm"] border pixel $border_size
# for_window [title="ranger-fm"] move scratchpad

for_window [class="qt5ct"] floating enable sticky enable border normal
for_window [class="Qtconfig-qt4"] floating enable sticky enable border normal
for_window [class="Simple-scan"] floating enable border normal
for_window [class="(?i)System-config-printer.py"] floating enable border normal
for_window [class="Skype"] floating enable border normal
for_window [class="Timeset-gui"] floating enable border normal
for_window [class="(?i)virtualbox"] floating enable border normal
for_window [class="Xfburn"] floating enable
# for_window [title="PyQt5"] floating enable border normal
# for_window [title="PyQt5 Dev"] floating enable border normal
for_window [title="i3 float"] floating enable border normal
for_window [title="float"] floating enable border normal
for_window [title="konsole"] border pixel $border_size

# switch to workspace with urgent window automatically
for_window [urgent=latest] focus

# do not focus preview window on open
no_focus [title="^Peek preview$"]
